body {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 100px auto 20px;
  overflow: hidden;
}

.app-header {
  line-height: 1;
  background-color: rgba(228, 139, 61, 0.95);
  padding: 60px 60px 100px 60px;
  border-radius: 5px;
  overflow: hidden;
}

.current-temperature {
  font-size: 150px;
  font-weight: 700;
  padding-left: 5px;
}

.ul-main-city-info {
  padding-left: 0;
  margin-bottom: 0;
  text-align: right;
}

.weather-icon {
  font-size: 50px;
}

.city-name {
  font-size: 50px;
  font-weight: 600;
  margin-top: 28px;
}

.header-additional-info {
  margin-top: 10px;
}

.ul-date-humidity-wind {
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: right;
}

.date {
  font-size: 20px;
  font-weight: 600;
}

.humidity,
.wind {
  font-size: 15px;
  margin-top: 10px;
}

.search-input {
  margin-top: 100px;
}

.form-control {
  padding: 18px;
  border-radius: 3px;
}

.source-code a {
  font-size: 12px;
  text-decoration: none;
  color: black;
}

.source-code {
  font-size: 12px;
  text-decoration: none;
  color: black;
  padding-top: 20px;
}

.city-background {
  font-size: 290px;
  font-weight: 900;
  color: rgba(228, 139, 61, 1);
  line-height: 1;
  text-align: left;
  position: fixed;
  top: 90px;
  z-index: -1;
  word-break: break-all;
  overflow: hidden;
  max-width: 800px;
  max-height: 510px;
}
