body {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 110px auto;
  background: grey;
  padding: 80px 40px 100px 40px;
  border-radius: 5px;
}

.app-header {
  margin-left: 50px;
  margin-right: 50px;
  line-height: 1;
}

.current-temperature {
  font-size: 150px;
  font-weight: 600;
  padding-left: 5px;
}

.ul-main-city-info {
  padding-left: 0;
  margin-bottom: 0;
  text-align: right;
}

.weather-icon {
  font-size: 50px;
  margin-top: 10px;
}

.city-name {
  font-size: 50px;
  font-weight: 600;
  margin-top: 25px;
}

.header-additional-info {
  margin-top: 10px;
}

.ul-humidity-and-wind {
  padding-left: 0;
  margin-bottom: 0;

  text-align: right;
}

.current-date,
.humidity,
.wind {
  margin-top: 10px;
}
