body {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weather-app-wrapper {
  max-width: 750px;
  margin: 110px auto;
  background: grey;
  padding: 40px;
  border-radius: 5px;
}

.current-temperature {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

.current-temperature {
  font-size: 150px;
  font-weight: 600;
  margin: 0;
  margin-left: 10px;
}

.ul-main-city-info {
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 20px;
  text-align: right;
}

.weather-icon {
  font-size: 50px;
  margin-top: 58px;
  margin-bottom: 5px;
}

.city-name {
  font-size: 50px;
  font-weight: 600;
}

.ul-humidity-and-wind {
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 20px;
  text-align: right;
}
